<a href="https://colab.research.google.com/github/iterat1on/jangbu/blob/main/jangbu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
cock_per_1 = 76000 / (12 * 4) # 1타에 12개입, 4타 총 48개를 구매 24개만 일단 동아리용 24개는 개인사용 예정
jangbu = pd.DataFrame({'회차':[],
                       '코트대여비':[],
                       '셔틀콕_총비용':[],
                       '남은셔틀콕':[],
                       '1인당_총비용' :[]})

In [3]:
cock_per_1 = 76000 / (12 * 4)

In [4]:
def calc_per_1(df, num_index, cock_per_1, day_end, court_num, total_used_cock, total_people) :
  
  weekend_cost = 3200
  weekday_cost = 2700
  court_sum = court_num * weekend_cost if day_end == "주말" else court_num * weekday_cost
  cock_sum = total_used_cock * cock_per_1
  remained_cock = jangbu.loc[len(jangbu) - 1,["남은셔틀콕"]].values[0] - total_used_cock if len(df) > 0 else 24 - total_used_cock

  df.loc[len(df)] = [num_index, court_sum, cock_sum, remained_cock, (court_sum + cock_sum) / total_people]

  return df

# input 첫 번째는 jangbu
# 두 번째는 회차
# 세 번째는 콕1개당 가격
# 네 번째는 "평일" / "주말"
# 다섯번째는 총 사용코트수
# 여섯번째는 총 사용 셔틀콕갯수
# 마지막은 총인원수

# 1회차

In [5]:
jangbu = calc_per_1(jangbu, 1,cock_per_1, "주말", 3, 7, 8)
jangbu

    회차   코트대여비       셔틀콕_총비용  남은셔틀콕      1인당_총비용
0  1.0  9600.0  11083.333333   17.0  2585.416667

# 2회차

In [6]:
jangbu = calc_per_1(jangbu, 2,cock_per_1, "주말", 2, 7, 9)
jangbu

    회차   코트대여비       셔틀콕_총비용  남은셔틀콕      1인당_총비용
0  1.0  9600.0  11083.333333   17.0  2585.416667
1  2.0  6400.0  11083.333333   10.0  1942.592593

# 3회차

In [7]:
jangbu = calc_per_1(jangbu, 3,cock_per_1, "평일", 1, 1, 4)
jangbu

    회차   코트대여비       셔틀콕_총비용  남은셔틀콕      1인당_총비용
0  1.0  9600.0  11083.333333   17.0  2585.416667
1  2.0  6400.0  11083.333333   10.0  1942.592593
2  3.0  2700.0   1583.333333    9.0  1070.833333

# 4회차

In [8]:
def calc_per_1(df, num_index, cock_per_1, day_end, court_num, total_used_cock, total_people) :
  
  weekend_cost = 1500 #주말 가격 인하로 변동 있었음
  weekday_cost = 2700
  court_sum = court_num * weekend_cost if day_end == "주말" else court_num * weekday_cost
  cock_sum = total_used_cock * cock_per_1
  remained_cock = jangbu.loc[len(jangbu) - 1,["남은셔틀콕"]].values[0] - total_used_cock if len(df) > 0 else 24 - total_used_cock

  df.loc[len(df)] = [num_index, court_sum, cock_sum, remained_cock, (court_sum + cock_sum) / total_people]

  return df

In [9]:
jangbu = calc_per_1(jangbu, 4,cock_per_1, "주말", 2, 5, 6)
jangbu

    회차   코트대여비       셔틀콕_총비용  남은셔틀콕      1인당_총비용
0  1.0  9600.0  11083.333333   17.0  2585.416667
1  2.0  6400.0  11083.333333   10.0  1942.592593
2  3.0  2700.0   1583.333333    9.0  1070.833333
3  4.0  3000.0   7916.666667    4.0  1819.444444

# 5회차

In [10]:
def calc_per_1(df, num_index, cock_per_1, day_end, court_num, total_used_cock, total_people) :
  
  weekend_cost = 3200
  weekday_cost = 2700
  court_sum = court_num * weekend_cost if day_end == "주말" else court_num * weekday_cost
  cock_sum = total_used_cock * cock_per_1
  remained_cock = jangbu.loc[len(jangbu) - 1,["남은셔틀콕"]].values[0] - total_used_cock if len(df) > 0 else 24 - total_used_cock

  df.loc[len(df)] = [num_index, court_sum, cock_sum, remained_cock, (court_sum + cock_sum) / total_people]

  return df

In [11]:
jangbu = calc_per_1(jangbu, 5, cock_per_1, "주말", 1, 3, 8)
jangbu

    회차   코트대여비       셔틀콕_총비용  남은셔틀콕      1인당_총비용
0  1.0  9600.0  11083.333333   17.0  2585.416667
1  2.0  6400.0  11083.333333   10.0  1942.592593
2  3.0  2700.0   1583.333333    9.0  1070.833333
3  4.0  3000.0   7916.666667    4.0  1819.444444
4  5.0  3200.0   4750.000000    1.0   993.750000