<a href="https://colab.research.google.com/github/iterat1on/jangbu/blob/main/jangbu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [92]:
import pandas as pd

In [93]:
cock_per_1 = 76000 / (12 * 4) # 1타에 12개입, 4타 총 48개를 구매 24개만 일단 동아리용 24개는 개인사용 예정
jangbu = pd.DataFrame({'회차':[],
                       '코트대여비':[],
                       '셔틀콕_총비용':[],
                       '남은셔틀콕':[],
                       '1인당_총비용' :[]})

In [94]:
def calc_per_1(df, num_index, day_end, court_num, total_used_cock, total_people) :
  cock_per_1 = 76000 / (12 * 4)
  weekend_cost = 3200
  weekday_cost = 2700
  court_sum = court_num * weekend_cost if day_end == "주말" else court_num * weekday_cost
  cock_sum = total_used_cock * cock_per_1
  remained_cock = jangbu.loc[len(jangbu) - 1,["남은셔틀콕"]].values[0] - total_used_cock if len(df) > 0 else 24 - total_used_cock

  df.loc[len(df)] = [num_index, court_sum, cock_sum, remained_cock, (court_sum + cock_sum) / total_people]

  return df

# input 첫 번째는 jangbu
# 두 번째는 회차
# 세 번째는 "평일" / "주말"
# 네 번째는 총 사용코트수
# 다섯번째는 총 사용 셔틀콕갯수
# 마지막은 총인원수

# 1회차

In [95]:
jangbu = calc_per_1(jangbu, 1, "주말", 3, 7, 8)
jangbu

    회차   코트대여비       셔틀콕_총비용  남은셔틀콕      1인당_총비용
0  1.0  9600.0  11083.333333   17.0  2585.416667

2회차

In [96]:
#jangbu = calc_per_1(jangbu, 2, "평일", 3, 7, 8)
#jangbu