<a href="https://colab.research.google.com/github/iterat1on/jangbu/blob/main/jangbu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [55]:
import pandas as pd

In [56]:
class calcMoney:
    def __init__(self):
        self.idx = None
        self.cock_One = 76000 / (12 * 4) # 1타에 12개입, 4타 총 48개를 구매 24개만 일단 동아리용 24개는 개인사용 예정
        self.court_One = None
        self.num_Court = None
        self.total_usedCock = 0
        self.num_People = None
        self.remain_Cock = 24
        self.total_cost = None

    def game(self, idx, court_cost, court_num, used_cock, num_people):
        self.idx = idx
        self.remain_Cock -= used_cock
        self.court_One = court_cost
        self.num_Court = court_num
        self.num_People = num_people

        self.total_cost = (self.court_One * self.num_Court + self.cock_One * used_cock)
        cost_per1 = self.total_cost / self.num_People

        return self.idx, self.court_One * self.num_Court, self.cock_One * used_cock, self.remain_Cock, cost_per1

    def refill_cock(self, cock_num, cock_cost) :
      self.remain_Cock += cock_num
      self.cock_One = cock_cost

In [57]:
jangbu = pd.DataFrame({'회차':[],
                       '코트대여비':[],
                       '셔틀콕_총비용':[],
                       '남은셔틀콕':[],
                       '1인당_총비용' :[]})

In [58]:
calc = calcMoney()

# 1회차

In [59]:
jangbu.loc[len(jangbu)] = calc.game(1, 3200, 3, 7, 8) #주말 3200원
jangbu

    회차   코트대여비       셔틀콕_총비용  남은셔틀콕      1인당_총비용
0  1.0  9600.0  11083.333333   17.0  2585.416667

# 2회차

In [60]:
jangbu.loc[len(jangbu)] = calc.game(2, 3200, 2, 7, 9) #주말 3200원
jangbu

    회차   코트대여비       셔틀콕_총비용  남은셔틀콕      1인당_총비용
0  1.0  9600.0  11083.333333   17.0  2585.416667
1  2.0  6400.0  11083.333333   10.0  1942.592593

# 3회차

In [61]:
jangbu.loc[len(jangbu)] = calc.game(3, 2700, 1, 1, 4) #평일 2700원
jangbu

    회차   코트대여비       셔틀콕_총비용  남은셔틀콕      1인당_총비용
0  1.0  9600.0  11083.333333   17.0  2585.416667
1  2.0  6400.0  11083.333333   10.0  1942.592593
2  3.0  2700.0   1583.333333    9.0  1070.833333

# 4회차

In [62]:
jangbu.loc[len(jangbu)] = calc.game(4, 1500, 2, 5, 6) #주말 가격인하로 1500원
jangbu

    회차   코트대여비       셔틀콕_총비용  남은셔틀콕      1인당_총비용
0  1.0  9600.0  11083.333333   17.0  2585.416667
1  2.0  6400.0  11083.333333   10.0  1942.592593
2  3.0  2700.0   1583.333333    9.0  1070.833333
3  4.0  3000.0   7916.666667    4.0  1819.444444

# 5회차

In [63]:
jangbu.loc[len(jangbu)] = calc.game(5, 3200, 1, 3, 8) #주말 3200원
jangbu

    회차   코트대여비       셔틀콕_총비용  남은셔틀콕      1인당_총비용
0  1.0  9600.0  11083.333333   17.0  2585.416667
1  2.0  6400.0  11083.333333   10.0  1942.592593
2  3.0  2700.0   1583.333333    9.0  1070.833333
3  4.0  3000.0   7916.666667    4.0  1819.444444
4  5.0  3200.0   4750.000000    1.0   993.750000